/* MainLayout.module.css */
.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Занимает всю высоту viewport */
}

.header {
  background-color: #4c7caf;
  color: white;
  padding: 8px 16px;
  text-align: left;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  /* Sidebar занимает 200px, остальное - Outline */
  flex-grow: 1;
  /* Растягивается на оставшуюся высоту */
}

.outline {
  padding: 1rem;
  background-color: #ffffff;
}