/* MainLayout.module.css */
.main-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Занимает всю высоту viewport */
}

.content-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  /* Sidebar занимает 200px, остальное - Outline */
  flex-grow: 1;
  /* Растягивается на оставшуюся высоту */
}

.outline {
  padding: 1rem;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .content-wrapper {
    display: block;
  }
}